* {
    margin: 0;
    padding: 0;
    list-style: none;

}

body {
    background-image:
        linear-gradient(to bottom, rgba(24, 127, 224, 0.52), rgba(117, 19, 93, 0.73)),
        url(images/spiration-light.webp);
    background-size: cover;
    height: 100vh;
}

header {
    margin: 1em auto;
    text-align: center;
}

h1 {
    font-size: 4em;
}

.score-panel {
    width: 700px;
    margin: 1em auto;
    font-size: 1.5em;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

.deck {
    margin: 0 auto;
    background-color: rgb(153, 65, 131, .55);
    border: 10px double rgb(117, 19, 93);
    width: 700px;
    height: 700px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    box-shadow: 2px 2px 10px black;
    border-radius: 10px;
    box-sizing: border-box;
}

.card {
    width: 125px;
    height: 125px;
    background-color: rgb(140, 185, 228);
    font-size: 0;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 2px 2px 10px black;
    border-radius: 5px;
    border: 1px solid black;
    transition: transform .75s, font-size 0.1s;
    transition-delay: 0s, .26s;
}

.flipped {
    font-size: 3em;
    transform: rotateY(180deg);
}

.not-matched {
    background-color: rgb(117, 19, 19);
    animation: .75s skew;
}

.matched {
    background-color: rgb(117, 19, 93);
    animation: .8s grow;
}

.modal {
    display: block;
    width: 900px;
    text-align: center;
    background-color: rgb(142, 146, 198);
    border: 10px solid rgb(117, 19, 93);
    box-shadow: 2px 2px 10px black;
    border-radius: 5px;
    box-sizing: border-box;
    padding: 1em;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -60%);
    font-size: 2em;
    visibility: hidden;
}

.modal p {
    padding: .75em;
}

.modal h1 {
    font-size: 3em;
    padding-bottom: .25em;
}

.play-again {
    background-color: rgb(140, 185, 228);
    width: 250px;
    font-size: 1em;
    margin-top: .65em;
    padding: .65em 0;
}

.visible {
    visibility: visible;
}


/* Keyframes */

@keyframes grow {
    50% {
        transform: scale(1.2) rotateY(180deg);
    }
}

@keyframes skew {
    50% {
        transform: skew(15deg) rotateY(180deg);
    }
}